.footer {
    display: flex;
}
.container {
   
}
.footer_ul {
 list-style: none; 
 display: flex;
 gap: 40px;
}
.footer_li {
    
position: relative;

    &:hover {
        width: 330px;
        height: 515px;
        position: absolute;
    border-radius: 16px;
    background: var(--Neutral-07, #202025);

    }


    .footer_p:hover {
        color: #E1E2E2;
    }

    .foot_p:hover {
        color: var(--Neutral-03, #E1E2E2);
    }

    .foot_span:hover {
        color: var(--Neutral-03, #E1E2E2);
    }
}
.footer_top {
    display: flex;
}
.footer_p {
    color: var(--Neutral-07, #202025);

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 160% */
    letter-spacing: -0.4px;
}
.footer_bottom {
    display: flex;
    gap: 59px;
}
.foot {
}
.foot_ul {
    fill: #FD5D47;
}
.foot_li {
    fill: #FD5D47;
}
.foot_p {
    flex: 1 0 0;
    color: var(--Neutral-05, #686A6C);

font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
letter-spacing: -0.16px;
}
.foot_span {
    align-self: stretch;
    color: var(--Neutral-07, #202025);

font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 160% */
letter-spacing: -0.4px;
}
.foot_p2 {
    align-self: stretch;
    color: var(--Neutral-05, #686A6C);
text-align: right;

font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
letter-spacing: -0.16px;
}
.foot_span2 {
    align-self: stretch;
    color: var(--Neutral-07, #202025);
text-align: right;

font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 160% */
letter-spacing: -0.4px;
}
.footer_a {
    display: flex;
padding: 12px 32px;
justify-content: center;
align-items: center;
gap: 8px;

border-radius: 4px;
border: 2px solid var(--Neutral-06, #555);
text-decoration: none;



color: var(--Neutral-07, #202025);

font-size: 12px;
font-style: normal;
font-weight: 800;
line-height: 24px; /* 200% */
letter-spacing: 2.04px;
text-transform: uppercase;

margin-top: 80px;
}